<div *ngIf="loginSuccess">
    <h2>Wallets</h2>
    <mat-form-field>
        <select matNativeControl placeholder="Wallets" (change)="walletSelected($event)">
            <option value="" selected></option>
            <option *ngFor="let wallet of wallets" [value]="wallet.value">
                {{wallet.ID}}
            </option>
        </select>
    </mat-form-field>

    <mat-list>
        <mat-list-item>
            ID: {{currentWallet.ID}}
        </mat-list-item>
        <mat-list-item>
            Address: {{currentWallet.walletAddress}}
        </mat-list-item>
        <mat-list-item>
            Private Key: {{currentWallet.walletPrivateKey}}
        </mat-list-item>
    </mat-list>


    <button mat-flat-button color="primary" (click)="createWallet()" class="btn btn-primary">Create Wallet</button>
    <button mat-flat-button color="primary" (click)="createAsset()" class="btn btn-primary">Create Asset</button>

</div>