<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Enter username of any peer</mat-label>
    <input #freind matInput placeholder="IE: savycon" (keyup.enter)="search(freind.value)">
    <button matSuffix mat-flat-button color="primary" (click)="search(freind.value)">Find By Username</button>
    <mat-icon matSuffix></mat-icon>
    <mat-hint>Username is case sensitve</mat-hint>
  </mat-form-field>
  <div>
    <mat-card class="example-card" *ngIf="currentUser.length !== 0">
      <mat-card-header>
        <img mat-card-avatar src={{this.profilePicturePath}} alt="Profile Picture">
        <mat-card-title *ngIf="!isLoggedOut" matBadgeColor="accent" matBadge="/" matBadgeDescription="online">
          {{this.username}}</mat-card-title>
        <mat-card-title *ngIf="isLoggedOut">{{this.username}}</mat-card-title>
        <mat-card-subtitle>{{this.email}} <mat-icon matSuffix></mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src={{this.profilePicturePath}} alt="Profile Picture"> -->
      <mat-card-content>
        <mat-card>
          <mat-list>
            <mat-list-item>
              Account Status
              {{accountDeactivated}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Friends
              {{friendList.length}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Email Verification Id
              {{emailVerificationID}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Last Logged In Time
              {{lastLoggedInTime}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button matSuffix mat-flat-button color="primary">Send Friend Request</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>