<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <!-- <div>
    <app-nav-bar></app-nav-bar>
  </div> -->
    <div>
        <alert></alert>
        <app-login></app-login>
    </div>
</div>
<router-outlet></router-outlet>