{% extends "app/base_site.html" %} {% block title %} Dashboard 1 {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Security Tests</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <form class="form-horizontal form-material" id="FilterSearch" action="" method="GET">
                    {% csrf_token %}
                    <div class="">
                        <div class="x_content">
                            <div class="form-group">
                                <label for="test_type">Select the test types:</label>
                                <select class="form-control" id="sel1" name="attackType">
                <option>Scanner</option>
                <option>Spider</option>
                <option>AJAX Spider</option>
                <option>Port Scan</option>
                <option>Fuzzer</option>
              </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="x_content">
                            <label for="url_to_test">Enter the url to test:</label>
                            <p><input type="url" class="flat col-md-12 col-sm-4" name="url" placeholder="Ex: https://localhost:4200"></p>
                        </div>
                    </div>
                    <div class="">
                        <div class="x_content">
                            <p><button class="flat col-md-12 col-sm-4" name="Attack">Attack</button></p>
                            <p><button class="flat col-md-12 col-sm-4" name="Stop">Stop</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Requests and Responses</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#requests">Requests</a></li>
                                <li><a data-toggle="tab" href="#responses">Responses</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="requests" class="tab-pane fade in active">
                                    <!-- <h3>Requests</h3> -->
                                    <!-- {% load render_table from django_tables2 %} -->
                                    <!-- {% render_table request_table %} -->
                                </div>
                                <div id="responses" class="tab-pane fade">
                                    <!-- <h3>Responses</h3> -->
                                    <!-- {% load render_table from django_tables2 %}
                                    {% render_table response_table %} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h2>Realtime Execution Results</h2>
                        <div class="">
                            <div class="x_content">
                                    {% load render_table from django_tables2 %}
                                    {% render_table reailtime_result %}
                            </div>
                        </div>

                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
            <!-- Start to do list -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Auto Tests</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#test_runs">Test Runs</a></li>
                            <li><a data-toggle="tab" href="#test_cycles">Test Cycles</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="test_runs" class="tab-pane fade in active">
                                <div class="">
                                    <ul class="to_do">
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Java TR </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Python TR</p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Sellinium TR</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="test_cycles" class="tab-pane fade">
                                <div class="">
                                    <ul class="to_do">
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Functional Test Cycle </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Performance Test Cycle </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Mobile Test Cycle </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Module 1 Test Cycle </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" class="flat"> Module 2 Test Cycle </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End to do list -->
    </div>
    {% endblock content %} {% block javascripts %} {{ block.super}}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    {% endblock javascripts %}