<div *ngIf="showLogin" class="wrapper">
    <mat-card class="example-card" id="signin">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <form [formGroup]="loginForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-hint>Username is case sensitive</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Enter the password</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Mac Address</mat-label>
                    <input formControlName="address" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>computer</mat-icon>
                    <mat-hint>Enter MAC address of your computer</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <button id="signin" mat-button (click)="signin()">Sign In</button>
            </div>
        </form>
        </mat-card-content>
        
        <mat-card-actions>
            <button id="signUpUser" mat-button (click)="signUpUser()">Sign Up</button>
            <button mat-button>Forgot Password</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="showSignup" class="container">
    <mat-card class="example-card" id="signup">
        <mat-card-header>
            <mat-card-title>Sign Up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-hint>Username is case sensitive</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Enter the password</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Enter email address of your computer</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Mac Address</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>computer</mat-icon>
                    <mat-hint>Enter MAC address of your computer</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Profile Picture</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>insert_photo</mat-icon>
                    <mat-hint>Upload your profile
                        <picture></picture>
                    </mat-hint>
                </mat-form-field>
            </div>
            <div>
                <button id="signup" mat-button (click)="signup()">Sign Up</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button id="signInBack" mat-button (click)="signInBack()">Sign In</button>
            <button mat-button>Forgot Password</button>
        </mat-card-actions>
    </mat-card>
</div>
