.example-form {
    min-width: 100px;
    max-width: 230px;
    width: 100%;
}
  
  .example-full-width {
    width: 100%;
  }

  .example-card {
    max-width: 230px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  #signin{
    min-width: 100px;
    max-width: 230px;
    width: 100%;
  }