<section class="lm-welcome">

    <!-- left container -->
    <div class="left-container">
        <!-- container block -->
        <div class="lm_container-block">

            <!-- content container -->
            <div class="lm_content-container">

                <!-- logo -->
                <h1 class="lm_logo"><img src="assets/sample.jpeg" height="50" class="mr-8" />wallet</h1>
                <!-- ./logo -->

                <!-- description -->

                <!-- ./description -->
                <!-- request access -->
                <div class="lm_request-access">

                    <div class="req-group">
                        <input id="email" type="text" (keyup.enter)="login()" [(ngModel)]="username" required>
                        <label>Your Username</label>
                        <span class="mdi mdi-email-open"></span>
                    </div>

                    <div class="req-group">
                        <input id="password" type="password" name="password" (keyup.enter)="login()" [(ngModel)]="password" required>
                        <label>Your password</label>
                        <span class="mdi mdi-lock"></span>
                    </div>
                </div>
                <!-- ./request access -->

                <!-- form button -->
                <button mat-flat-button class="btn-lg login-btn" (click)="login()">Login</button>
                <!-- ./form button -->


            </div>
            <!-- ./content container -->
        </div>
        <!-- /.container block -->
    </div>
    <!-- ./left container -->

    <!-- right container -->
    <div class="right-container">

        <!-- top navigation -->
        <div class="lm_top-navigation">
            <!-- <ul>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Request access</a></li>
        </ul> -->
        </div>
        <!-- ./top navigation -->

        <!-- graphic -->
        <div class="graphic"></div>
        <!-- ./graphic -->

    </div>
    <!-- ./right container -->
</section>
<!-- ./Lime welcome -->