.lm-welcome {
    position: absolute;
    height: 100vh;
    width: 100%;
    &.blur {
        filter: blur(1px);
    }
    .left-container,
    .right-container {
        position: absolute;
    }
    // left container
    .left-container {
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        // container
        .lm_container-block {
            flex: 1;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            max-width: 1170px;
            // background: red;
        }
        // content container
        .lm_content-container {
            margin-top: -10%;
            padding-right: 200px;
            padding-left: 0;
            .warning {
                margin-top: 30px;
                padding: 5px;
                border: 1px solid #fde38a;
                border-radius: 5px;
                color: #dcab00 !important;
                background: #ffc2000f;
                span {
                    font-weight: 700;
                }
            }
        }
    }
    // right container
    .right-container {
        right: 0;
        width: 50%;
        height: 100vh;
        // graphic
        .graphic {
            display: none;
            img {
                max-width: 100%;
                width: 540px;
                transform: scaleX(-1);
                position: absolute;
                bottom: 26%;
                left: -5%;
            }
        }
    }
}

// social ribbon
.social-ribbon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #ffffff;
    // social links
    .social-links {
        position: relative;
        // lines
        &:before,
        &:after {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            width: 1px;
            height: 50px;
            background-color: #4e607d;
            opacity: 0.5;
        }
        &:before {
            top: -50px;
        }
        &:after {
            bottom: -50px;
        }
        // social links list
        &--list {
            margin-top: auto;
            margin-bottom: auto;
            padding: 0;
            list-style: none;
            li>a {
                padding: 10px 30px;
                display: inline-block;
                font-size: 16px;
                color: #4e607d;
                &:hover,
                &:focus {
                    color: #0020dd;
                }
            }
        }
    }
}

// content container
.lm_content-container {
    width: 50%;
}

.version {
    margin-left: 60px;
    font-size: 10px;
    color: gray;
    /* margin-top: 2px; */
    display: block;
    margin-top: -15px;
}

// description
.description {
    margin-bottom: 40px;
}

// request access
.lm_request-access {
    // position: relative;
    // margin-bottom: 30px;
    // padding: 10px 15px 0;
    // background-color: #f8f8ff;
    // border: 1px solid rgba(186, 189, 226, 0.5);
    // border-radius: 3px;
    // box-shadow: 0 0 20px 0 rgba(186, 189, 226, 0.1);
    .req-group {
        position: relative;
        margin-bottom: 15px;
        // background-color: #f8f8ff;
        border-radius: 3px;
        box-shadow: 0 0 20px 0 rgba(186, 189, 226, 0.1);
        &.error {
            border: 1px solid #ff4b20;
        }
    }
    input {
        padding: 25px 10px 8px 20px;
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        border: none;
        background: transparent;
    }
    input:focus {
        outline: none;
    }
    label {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 13px;
        transition: 0.2s ease all;
    }
    /* active state */
    input:focus~label,
    input:valid~label {
        top: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill~label,
    input:-webkit-autofill:hover~label,
    input:-webkit-autofill:focus~label,
    textarea:-webkit-autofill~label,
    textarea:-webkit-autofill:hover~label,
    textarea:-webkit-autofill:focus~label,
    select:-webkit-autofill~label,
    select:-webkit-autofill:hover~label,
    select:-webkit-autofill:focus~label {
        top: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    .mdi {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 18px;
        &.error {
            color: #ff4b20;
        }
    }
}

// form button
.login-btn {
    min-width: 150px;
}

// top navigation
.lm_top-navigation {
    position: absolute;
    top: 40px;
    right: 140px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline;
            a {
                color: #20223a;
                font-weight: 500;
                padding-right: 15px;
                padding-left: 15px;
                &:hover {
                    color: #0020dd;
                    text-decoration: none;
                }
            }
        }
    }
}