
mat-toolbar{
    background-color: grey;
    color: white;
}

button{
    height: 100%;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }