<div *ngIf="loginSuccess">
    <mat-toolbar class="mat-elevation-z6">
        <button mat-button [routerLink]="['home']" [matMenuTriggerFor]="contracts">
            <h2>Will Man</h2>
        </button>
        <mat-menu #home="matMenu"></mat-menu>

        <button mat-button [routerLink]="['/contracts']" [matMenuTriggerFor]="contracts">Contracts</button>
        <mat-menu #contracts="matMenu"></mat-menu>
        <button mat-button [routerLink]="['/assets']" [matMenuTriggerFor]="assets">Assets</button>
        <mat-menu #assets="matMenu"></mat-menu>
        <button mat-button [routerLink]="['/wallets']" [matMenuTriggerFor]="wallets">Wallets</button>
        <mat-menu #wallets="matMenu"></mat-menu>
        <button mat-button [routerLink]="['/friends']" [matMenuTriggerFor]="friends">Friends</button>
        <mat-menu #friends="matMenu"></mat-menu>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <mat-icon matBadge="2" matBadgeColor="warn" MatBadgeSize="large">notification_important</mat-icon>
        <mat-icon></mat-icon>
        <mat-menu #balance="matMenu">
            100
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="balance">
            <mat-icon>account_balance_wallet</mat-icon>
        </button>
        <mat-icon></mat-icon>
        <button mat-button (click)="logout()">Logout</button>
        <!-- <mat-menu #logout="matMenu"></mat-menu>   -->
    </mat-toolbar>
</div>