<app-nav-bar></app-nav-bar>
<div class="example-container">
  <div>
      <mat-form-field>
          <select matNativeControl placeholder="Wallets">
            <option value="" selected></option>
            <!-- <option *ngFor="let wallet of wallets" [value]="wallet.value"> -->
              <!-- {{wallet.ID}} -->
            <!-- </option> -->
          </select>
        </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-label>Asset asset_name</mat-label>
          <input matInput placeholder="Asset Name">
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <select matNativeControl placeholder="Reciver wallets" >
            <option value="" selected></option>
            <!-- <option *ngFor="let wallet of reciverWallets" [value]="wallet.value">
              {{wallet.ID}}
            </option> -->
          </select>
        </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <select matNativeControl placeholder="Asset Type">
            <option value="" selected></option>
            <!-- <option [value]="Digital"></option>
            <option [value]="Real"></option> -->
          </select>
        </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-label>Gas Price</mat-label>
          <input matInput placeholder="Gas Price">
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-label>Total Gas Amount</mat-label>
          <input matInput placeholder="Total Gas Amount">
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-label>Ether Ammount</mat-label>
          <input matInput placeholder="Ether Ammount">
      </mat-form-field>
  </div>
  <button mat-flat-button color="primary" class="btn btn-primary">Create An Asset In Blockchain</button>

    

    
  
  </div>