<chart>
id=130942958802444804
symbol=AUDUSD
period=1440
leftpos=2064
digits=5
scale=4
graph=1
fore=1
grid=0
volume=0
scroll=0
shift=1
ohlc=1
one_click=0
one_click_btn=1
askline=0
days=1
descriptions=0
shift_size=19
fixed_pos=0
window_left=319
window_top=0
window_right=638
window_bottom=149
window_type=3
background_color=16777215
foreground_color=0
barup_color=8421376
bardown_color=3937500
bullcandle_color=8421376
bearcandle_color=3937500
chartline_color=5197615
volumes_color=8421376
grid_color=10061943
askline_color=3937500
stops_color=3937500

<window>
height=380
fixed_height=0
<indicator>
name=main
<object>
type=5
object_name=Channel 2527
period_flags=0
create_time=1399982559
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1394755200
value_0=1.642521
time_1=1401753600
value_1=1.684158
time_2=1395878400
value_2=1.674602
ray=0
</object>
<object>
type=5
object_name=Channel 8869
period_flags=48
create_time=1371021989
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1368043200
value_0=1.304323
time_1=1368691200
value_1=1.279525
time_2=1368086400
value_2=1.317700
ray=0
</object>
<object>
type=5
object_name=Channel 9014
period_flags=48
create_time=1371022134
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1365033600
value_0=1.274800
time_1=1365638400
value_1=1.304300
time_2=1364860800
value_2=1.287700
ray=0
</object>
<object>
type=5
object_name=Channel 9312
period_flags=48
create_time=1371022432
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1359734400
value_0=1.371000
time_1=1364544000
value_1=1.297670
time_2=1359590400
value_2=1.337307
ray=0
</object>
<object>
type=5
object_name=Channel 9417
period_flags=48
create_time=1371022537
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1352851200
value_0=1.265356
time_1=1358985600
value_1=1.313316
time_2=1352678400
value_2=1.305103
ray=0
</object>
<object>
type=1
object_name=Horizontal Line 16631
period_flags=0
create_time=1387282679
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.630000
</object>
<object>
type=1
object_name=Horizontal Line 21642
period_flags=0
create_time=1406817418
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.350000
</object>
<object>
type=1
object_name=Horizontal Line 2166
period_flags=0
create_time=1406208118
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.370000
</object>
<object>
type=1
object_name=Horizontal Line 22449
period_flags=0
create_time=1406818225
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.329500
</object>
<object>
type=1
object_name=Horizontal Line 26822
period_flags=0
create_time=1407740102
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.357500
</object>
<object>
type=1
object_name=Horizontal Line 26845
period_flags=0
create_time=1407740125
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.333200
</object>
<object>
type=1
object_name=Horizontal Line 39807
period_flags=0
create_time=1406638975
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.204700
</object>
<object>
type=1
object_name=Horizontal Line 39836
period_flags=0
create_time=1406639004
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.279000
</object>
<object>
type=1
object_name=Horizontal Line 39845
period_flags=0
create_time=1406639013
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.246000
</object>
<object>
type=1
object_name=Horizontal Line 42229
period_flags=0
create_time=1401267445
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.670000
</object>
<object>
type=1
object_name=Horizontal Line 42629
period_flags=0
create_time=1407231621
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.399000
</object>
<object>
type=1
object_name=Horizontal Line 42672
period_flags=0
create_time=1407231664
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.345000
</object>
<object>
type=1
object_name=Horizontal Line 43121
period_flags=0
create_time=1399367793
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.704000
</object>
<object>
type=1
object_name=Horizontal Line 49418
period_flags=0
create_time=1389347082
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.481300
</object>
<object>
type=1
object_name=Horizontal Line 49577
period_flags=0
create_time=1389347241
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.732216
</object>
<object>
type=1
object_name=Horizontal Line 61876
period_flags=0
create_time=1406792116
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.323130
</object>
<object>
type=1
object_name=Horizontal Line 8026
period_flags=0
create_time=1407328090
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.320218
</object>
<object>
type=1
object_name=Horizontal Line 9634
period_flags=0
create_time=1406281122
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=1.302000
</object>
<object>
type=2
object_name=Trendline 26867
period_flags=0
create_time=1407740147
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1399334400
value_0=1.400608
time_1=1408838400
value_1=1.339116
ray=0
</object>
<object>
type=2
object_name=Trendline 27228
period_flags=0
create_time=1407740508
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1399334400
value_0=1.400608
time_1=1408838400
value_1=1.339116
ray=0
</object>
<object>
type=2
object_name=Trendline 27244
period_flags=0
create_time=1407740524
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1398384000
value_0=1.375320
time_1=1408233600
value_1=1.313828
ray=0
</object>
<object>
type=2
object_name=Trendline 27594
period_flags=0
create_time=1407740874
color=0
style=2
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1408147200
value_0=1.346662
time_1=1409356800
value_1=1.335893
ray=0
</object>
<object>
type=2
object_name=Trendline 9156
period_flags=384
create_time=1371022276
color=5197615
style=0
weight=2
background=1
filling=0
selectable=1
hidden=0
zorder=0
time_0=1238544000
value_0=1.174486
time_1=1411516800
value_1=1.228543
ray=0
</object>
<object>
type=2
object_name=Trendline 52047
period_flags=0
create_time=1439812431
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1431475200
value_0=17698.715867
time_1=1442620800
value_1=16752.243542
ray=0
</object>
<object>
type=1
object_name=Horizontal Line 52118
period_flags=0
create_time=1439812502
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=17795.000000
</object>
<object>
type=1
object_name=Horizontal Line 55919
period_flags=0
create_time=1439816303
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=17150.000000
</object>
<object>
type=2
object_name=Trendline 60113
period_flags=0
create_time=1439820497
color=5197615
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1437523200
value_0=17376.885246
time_1=1440720000
value_1=16817.372951
ray=0
</object>
<object>
type=1
object_name=Horizontal Line 60124
period_flags=0
create_time=1439820508
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=17000.000000
</object>
<object>
type=1
object_name=Horizontal Line 60721
period_flags=0
create_time=1439821105
color=5197615
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=17322.508197
</object>
<object>
type=2
object_name=Trendline 62443
period_flags=0
create_time=1504703467
color=5197615
style=2
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1504184400
value_0=0.786914
time_1=1504807200
value_1=0.801737
ray=0
</object>
<object>
type=21
object_name=W_R1 label
period_flags=0
create_time=1505737815
description=W_R1 0.8053
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.805307
</object>
<object>
type=21
object_name=W_R2 label
period_flags=0
create_time=1505737815
description=W_R2 0.8107
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.810693
</object>
<object>
type=21
object_name=W_R3 label
period_flags=0
create_time=1505737815
description=W_R3 0.8156
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.815597
</object>
<object>
type=21
object_name=W_P label
period_flags=0
create_time=1505737815
description=W_Pivot 0.8004
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.800403
</object>
<object>
type=21
object_name=W_S1 label
period_flags=0
create_time=1505737815
description=W_S1 0.7950
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.795017
</object>
<object>
type=21
object_name=W_S2 label
period_flags=0
create_time=1505737815
description=W_S2 0.7901
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.790113
</object>
<object>
type=21
object_name=W_S3 label
period_flags=0
create_time=1505737815
description=W_S3 0.7847
color=8421504
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1505692800
value_0=0.784727
</object>
<object>
type=1
object_name=W_S1 line
period_flags=0
create_time=1505737815
color=16711680
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.795017
</object>
<object>
type=1
object_name=W_S2 line
period_flags=0
create_time=1505737815
color=16711680
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.790113
</object>
<object>
type=1
object_name=W_S3 line
period_flags=0
create_time=1505737815
color=16711680
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.784727
</object>
<object>
type=1
object_name=W_P line
period_flags=0
create_time=1505737815
color=15128749
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.800403
</object>
<object>
type=1
object_name=W_R1 line
period_flags=0
create_time=1505737815
color=255
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.805307
</object>
<object>
type=1
object_name=W_R2 line
period_flags=0
create_time=1505737815
color=255
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.810693
</object>
<object>
type=1
object_name=W_R3 line
period_flags=0
create_time=1505737815
color=255
style=0
weight=2
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.815597
</object>
</indicator>
<indicator>
name=Moving Average
period=100
shift=0
method=0
apply=0
color=8421376
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=200
shift=0
method=0
apply=0
color=42495
style=0
weight=2
period_flags=384
show_data=1
</indicator>
<indicator>
name=Moving Average
period=200
shift=0
method=0
apply=0
color=755384
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=50
shift=0
method=0
apply=0
color=1262987
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=PivotPointsMultitimeframe
flags=339
window_num=0
<inputs>
midpivots=false
Fhr=false
daily=false
weekly=true
monthly=false
</inputs>
</expert>
shift_0=0
draw_0=3
color_0=4294967295
style_0=0
weight_0=0
arrow_0=159
shift_1=0
draw_1=0
color_1=0
style_1=0
weight_1=0
shift_2=0
draw_2=0
color_2=0
style_2=0
weight_2=0
shift_3=0
draw_3=0
color_3=0
style_3=0
weight_3=0
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=MACD
fast_ema=12
slow_ema=26
macd_sma=9
apply=0
color=5197615
style=0
weight=2
signal_color=255
signal_style=0
signal_weight=2
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=Relative Strength Index
period=14
apply=0
color=5197615
style=0
weight=2
min=0.00000000
max=100.00000000
levels_color=12632256
levels_style=0
levels_weight=1
level_0=30.00000000
level_1=70.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

