<app-nav-bar></app-nav-bar>
<div class="container">
  <mat-card>
    
  </mat-card>
    <div>
        <mat-form-field>
            <select matNativeControl placeholder="Wallets" >
              <option value="" selected></option>
              <!-- <option *ngFor="let wallet of wallets" [value]="wallet.value">
                {{wallet.ID}}
              </option> -->
            </select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <select matNativeControl placeholder="Contract Addresses" >
              <option value="" selected></option>
              <!-- <option *ngFor="let contract of contracts" [value]="contract.value">
                {{contract.ID}}
              </option> -->
            </select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <select matNativeControl placeholder="Asset Names" >
              <option value="" selected></option>
              <!-- <option *ngFor="let asset of assets" [value]="contract.value">
                {{contract.ID}}
              </option> -->
            </select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <select matNativeControl placeholder="Reciver wallets">
              <option value="" selected></option>
              <!-- <option *ngFor="let wallet of reciverWallets" [value]="wallet.value">
                {{wallet.ID}}
              </option> -->
            </select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <select matNativeControl placeholder="Asset Type">
              <option value="" selected></option>
              <!-- <option [value]="Digital"></option>
              <option [value]="Real"></option> -->
            </select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Gas Price</mat-label>
            <input matInput placeholder="Gas Price">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Total Gas Amount</mat-label>
            <input matInput placeholder="Total Gas Amount">
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" class="btn btn-primary">Create A Contract</button>
  
      
  
      
    
    </div>